/*----------
TYPOGRAPHY
----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Amiri:400,700|Raleway:400,700,900');

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #292929;
}

h2 {
    font-family: "Amiri", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h2.span {
    font-weight: bold;
}

p {
    color: #292929;
}

/*----------
GLOBAL
----------------------------------------*/

html,
body {
    height: 100%;
    font-family: "Raleway", Arial, Helvetica, sans-serif
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -160px;
    /* Pad bottom by footer height */
    padding: 0 0 220px;
}

html { 
    background: url(../images/game-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.footer {
    background: url(../images/ground.jpg);
    background-position: top center;
    height: 160px;
}

/*----------
JUMBOTRON
----------------------------------------*/

.jumbotron {
    background-image: url(../images/clouds.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    padding-bottom: 0;
}

.jumbotron h1 {
    margin-bottom: 0;
    font-size: 90px;
}

.jumbotron h2 {
    margin-top: 0;
    font-size: 33px;
}

/*----------
GAME IMAGE
----------------------------------------*/

.game-image-wrapper {
    position: relative;
    width: 100%;
}

.video-pixar-logo {
    position: absolute;
    width: 100%;
    margin-top: 25px;
    opacity: 1;
    -webkit-transition: opacity 3000ms linear;
    transition: opacity 3000ms linear;
    z-index: 20;
}

.character-image-wrapper {
    position: relative;
}

.character-image {
    position: relative;
    width: 100%;
    margin-top: 25px;
    opacity: 0;
    z-index: 10;
    -webkit-transition: opacity 3000ms linear;
    transition: opacity 3000ms linear;
}

/*----------
GAME UI
----------------------------------------*/

@keyframes pulse {
    from {opacity:0}
    to {opacity:1}
}

@keyframes letter-spawn {
    0% {
        opacity: 0;
        font-size: 30px;
    }
    50% {
        opacity: 1;
        font-size: 40px;
    }
    100% {
        opacity: 1;
        font-size: 30px;
    }
}

.pulse {
    color: rgb(151, 7, 7);
    animation: pulse 2s alternate infinite;
}

.focus {
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
}

.activate {
    font-size: 40px;
}

.letter {
    animation-name: letter-spawn;
    animation-duration: 1s;
}